<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign up</title>
</head>

<body>
	<h1>Blog in Express.JS</h1>
	<h2>Sign up</h2>

	<p>Whoops! You cannot sign up in this blog!</p>
	<p>Since this is a test application, you don't really have to ;)</p>
</body>
</html>
